<nav class="header-eventbrote navbar navbar-expand-lg navbar-dark bg-dark">
	<img src="{{ asset('images/bridevproject-logo.png') }}" alt="Logo BriDevproject" width="50" class="rounded-pill bg-warning mx-3">
	
	{% if is_granted("ROLE_MAGASINIER") %}
		<a class="navbar-brand perso_text-primary text-warning" href="#" style="font-family: 'Bangers', cursive; letter-spacing:3px; font-size:2em">
		Technistore
		</a>
	{% else %}
		<a class="navbar-brand perso_text-primary" href="#" style="font-family: 'Bangers', cursive; letter-spacing:3px; font-size:2em">
		Technistore
		</a>
	{% endif %}

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	{% if app.user %}		
		{% if app.user.isAutorised %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav p-2">
					
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_materiels_index')}}">Tout le materiel forme de tableau</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_materiels_test')}}">Tout materiel forme de carte</a>
					</li>

					{% if is_granted ("ROLE_MAGASINIER") %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_materiels_create')}}">Ajouter un materiel</a>
						</li>
					{% endif %}

				</ul>
				<ul class="nav navbar-nav ms-auto">
					<li>
						<a class="btn btn-sm btn-outline-danger px-3 m-1 me-5" href="{{path('app_logout')}}">
							Déconnexion
						</a>
					</li>
				</ul>
			</div>
		{% else %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<<ul class="nav navbar-nav ms-auto">
					<li>
						<a class="btn btn-sm btn-outline-danger px-3 m-1 me-5" href="{{path('app_logout')}}">
							déconnexion
						</a>
					</li>
				</ul>
			</div>
		{% endif %}
	{% endif %}
</nav>
