{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashboard Administarteur' %}

{% block page_content %}
	<div class="container">
		<h4>Yo Romu !</h4>
	</div>

	<div class="row row-cols-1 row-cols-md-2 g-4">

		<div class="col">
			<div class="card shadow rounded">
				<div class="card-body">
					<h5 class="card-title fw-bold">Un exemple</h5>
					<p class="card-text">Je ne sais pas encore ce que je vais mettre ici ...</p>
				</div>
			</div>
		</div>		

	</div>

{% endblock %}
