{{form_start(form)}}
			

    <div class="row mb-4 mt-3">
        <div id="marque" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.marque) }}
        </div>

        <div id="type" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.type) }}
        </div>

        <div id="reference" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.reference) }}
        </div>
    </div>

    <div id="dimension" class="row">
        <div class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.dimension) }}
        </div>

        <div id="frequence" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.frequence) }}
        </div>

        <div id="quantity" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.quantity) }}
        </div>
    </div>

    <div id="observations" class="row">
        <div class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.observations)}}
        </div>

        <div id="colisage" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.colisage)}}
        </div>

        {# <div id="affectation" class="col-sm-12 col-md-4 col-12">
            {{ form_row(form.affectation)}}
        </div> #}
    </div>

    <hr>

    <div id="estDisponible" class="row">
        <div class="fw-bold text-success col-sm-12 col-md-6 col-12">
            {{ form_row(form.isAvaible) }}
        </div>
        <div id="estEnVerif" class="fw-bold text-danger col-sm-12 col-md-6 col-12">
            {{ form_row(form.isInVerif) }}
        </div>
    </div>

    <div class="row my-5  border border-dark rounded shadow p-3 h6 bg-light text-underline">
        <div class="col-sm-12 col-md-6 col-12">
            {{ form_row(form.calibrated_at) }}
        </div>
        <div class="col-sm-12 col-md-6 col-12">
            {{ form_row(form.end_calibrated_at) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-12">
            {{ form_row(form.pv)}}
        </div>
        <div class="col-sm-12 col-md-6 col-12">
            {{ form_row(form.categorie) }}
    </div>

    <div class="d-flex justify-content-between">	
        <button type="submit" class="btn btn-outline-success w-50 mb-5 me-1">
            {{ submitButtonText ?? 'Ajouter le materiel' }}
        </button>
         <a href="{{path('app_materiels_index')}}" class="btn btn-outline-danger w-50 mb-5 ms-1">Annuler</a>
    </div>

{{form_end(form)}}