{% extends "layouts/base.html.twig" %}

{% block title 'Ajouter un materiel' %}

{% block body %}
    <section id="creation-materiel">
        <div class="mt-5 row">
            <div class="col-md-6 mx-auto">
                <div class="shadow-lg jumbotron text-center mt-2 p-2 rounded col-11" id="title">
                    <h1 class="shadow-4"> Ajouter un nouveau materiel </h1>
                </div>
                {% include ('materiels/_form.html.twig') %}
            </div>
        </div>
    </section>
{% endblock %}