{% extends 'layouts/base.html.twig' %}

{% block body %}


{#* Formulaire de recherche *#}
<section id="recherche-materiel">
    <div class="container">
        <div class="mt-2 mb-4 h-100 p-4 text-white perso_bg_dark rounded-3">
            {{form_start(form)}}
            <div class="form-row">
                <div class="col">
                    {{ form(form) }}
                </div>
            </div>
            {{form_end(form)}}
        </div> 
    </div>
</section>

<section class="container mb-5" id="materiel-carte">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for materiel in materiels %}
            <div class="col">
                <div class="card h-100 shadow">

                    <img src="https://source.unsplash.com/1600x900/?php,Technology,Industries.jpg" class="card-img-top img-fluid" alt="..."/>

                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{materiel.reference}} | {{materiel.categorie|capitalize}}</h5>
                        <p class="card-text"> {{materiel.marque}} {{materiel.type}} </p>
                        <div class="d-flex justify-content-between">
                        <p class="card-text"> {{materiel.dimension}} mm | {{materiel.frequence}} mHz</p>
                            {% if materiel.isAvaible %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </div>
                        <p class="card-text"> {{materiel.observations}}</p>
                    </div>
                    <div>
                        <a class="d-block mx-auto btn btn-outline-success w-50 mb-2" href="{{path('app_materiel_show', {'id': materiel.id})}}">Consulter la fiche</a>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">Fin de validité: </small>
                        <span class="text-danger">{{materiel.endCalibratedAt|date('d/m/Y')}}</span>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
