{% extends 'layouts/base.html.twig' %}

{% block title materiel.marque ~ ' ' ~ materiel.type %}

{% block body %}


	<div class="mt-5">
		<h1 class="text-center">{{materiel.reference}}
			<span class="perso_badge py-1 px-2 align-middle">{{materiel.id}}</span>
		</h1>
		<h5 class="shadow w-25 mx-auto bg-info text-center py-1 mb-5 fw-light">{{materiel.categorie|capitalize}}</h5>
	</div>

	<div class="col-md-6 mx-auto">
		<div class="mx-auto card shadow mb-5" style="width:35rem; height:auto;">
			<img src="https://source.unsplash.com/1600x900/?inspection,php" class="card-img-top img-fluid" alt="{{materiel.reference}}" height="250">
			<div class="card-body">

				<div class="row">
					<div class="col-8">
						<h1 class="h4 card-title">
							{{materiel.marque}}
							{{materiel.type}}
							<span class="text-muted h6">
								({{materiel.reference}})
							</span>
						</h1>
					</div>
					<div class="col-4">
						<span class="text-muted float-end">
							{{materiel.dimension}}
							-
							{{materiel.frequence}}
							Mhz</span>
					</div>
				</div>

				<div class="row">
					<div class="container h5 d-flex justify-content-between">
						<span class="py-1 rounded text-center bg-success text-white fw-light h6 w-50 me-1">{{materiel.calibratedAt|date('d/m/Y')}}</span>
						<span class="py-1 rounded text-center bg-danger  text-white fw-light h6 w-50 ms-1">{{materiel.endCalibratedAt|date('d/m/Y')}}</span>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						{% if materiel.isAvaible %}
							<div class="card-text alert alert-success">
								<p class="lead">Cet article est disponible.</p>
							</div>
						{% else %}
							<div class="card-text alert alert-danger">
								<p class="lead">Cet article n'est pas disponible, il est actuellement affecté sur le site de
									{{materiel.colisage}}.</p>
							</div>
						{% endif %}
					</div>
				</div>

				<div class="card-footer text-muted h6 text-center mt-2">
					<p>Ici sera affiché un décompte de jour restant jusqu'au prochain étalonnage</p>
				</div>

				<div class="row">
					{% if is_granted ("ROLE_MAGASINIER") %}
						<div class="d-flex justify-content-between">
							<a class="btn btn-sm btn-warning w-50 me-1" href="{{ path('app_materiels_edit', {'id': materiel.id}) }}">Modifier</a>
							<a class="btn btn-sm btn-danger w-50 ms-1" href="#" onclick="event.preventDefault();
																																				confirm('Êtes-vous sûr de vouloir supprimer?') &&
																																				document.getElementById('materiel-deletion-form').submit();">
								Effacer
							</a>

							<form id="materiel-deletion-form" style="display:none" action="{{ path('app_materiels_delete', {'id': materiel.id}) }}" method="POST">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('materiel_deletion_' ~ materiel.id) }}">
								<button type="submit">Effacer</button>
							</form>
						</div>
					{% endif %}
				</div>
			</div>

		{% endblock %}
